mat-card {
    margin: 16px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  mat-card-header {
    background: #f5f5f5;
  }
  
  mat-card-title {
    font-size: 24px;
    font-weight: bold;
  }
  
  /* In your component's CSS file */
:host {
    display: block;
    margin-top: 0; /* Adjust as needed */
  }
  
  mat-grid-list {
    margin-top: 0; /* Remove or adjust margin */
  }
  
  