<app-navbar></app-navbar>
<mat-grid-list cols="2" rowHeight="1:1" class="mat-2x">
  <mat-grid-tile>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Project Details :</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        
        <p>Name: {{ project.name }}</p>

      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
      <mat-card-header>
        <mat-card-title class="card-title">Task List</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <app-task-list [project]="project"></app-task-list>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
